<template>
  <div id="app" class="">
    <h1 class="mt-3">Mantenedor de Productos</h1>
    <hr />
    <div class="card" id="card">
      <div>
        <h4>Añadir Producto</h4>
        <form>
          <div>
            <div>
              <label for="name">Nombre:</label>
              <div>
                <input v-model="nombreProd" type="text" size="50" required />
              </div>
            </div>
            <div>
              <label for="name"
                >Descripción:</label
              >
              <div>
                <input
                  v-model="descripcionProd"
                  type="text"
                  size="50"
                  required
                />
              </div>
            </div>
            <div>
              <label for="name">Precio:</label>
              <div>
                <input
                  v-model="precioProd"
                  id="numero"
                  type="number"
                  min="0"
                  required
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <button class="btn" v-on:click="guardarProducto">
      Añadir Producto
    </button>
    <hr />
    <h3>Lista de Productos</h3>
    <div>
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Precio</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in items" v-bind:key="item">
              <td>{{ item.nombreProd }}</td>
              <td>{{ item.descripcionProd }}</td>
              <td>{{ item.precioProd }}</td>
              <td>
                <button
                  class="btn"
                  v-on:click="editarProducto(item)"
                >
                  Editar
                </button>
              </td>
              <td>
                <button
                  class="btn"
                  v-on:click="borrarProducto(item)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
  data: () => ({
    nombreProd: null,
    descripcionProd: null,
    precioProd: 0,
    items: [],
  }),
  methods: {
    guardarProducto: function() {
      if (
        this.nombreProd == null ||
        this.descripcionProd == null ||
        this.precioProd == 0
      ) {
        return;
      }
      this.items.push({
        nombreProd: this.nombreProd,
        descripcionProd: this.descripcionProd,
        precioProd: this.precioProd,
      });
      this.nombreProd = null;
      this.descripcionProd = null;
      this.precioProd = 0;
    },
    borrarProducto: function(item) {
      var itemForE = null;
      this.items.forEach((element, index) => {
        if (element == item) {
          itemForE = index;
        }
      });
      this.items.splice(itemForE, 1);
    },
    editarProducto: function(item) {
      this.nombreProd = item.nombreProd;
      this.descripcionProd = item.descripcionProd;
      this.precioProd = item.precioProd;
      this.borrarProducto(item);
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
}
#card {
  margin: 15px;
  border-radius: 25px;
  border-style: dotted;
  border-color: cyan;
  padding-bottom: 20px;
}

.table{
  margin-left: auto;
  margin-right: auto;
  width: 70%;

}
label {
  text-align: start;
  left: 25px;
  color: rgb(0, 0, 0);
}
input {
  text-align: center;
}
.btn {
  border: 2px solid cyan;
  border-radius: 25px;
  background: rgba(241, 237, 237, 0.733);
  color: black;
}
th {
  background-color: rgba(241, 237, 237, 0.849);
  font-family: Arial, Helvetica, sans-serif !important;
}
.table {
  border: 1px solid gray;
}
#numero {
  size: 150;
  width: 443px;
  position: relative;
}
h3 {
  text-align: start;
  padding-left: 420px;
}
hr {
  width: 1900px;
  margin: 35px;
  position: relative;
}
h1 {
  margin-top: 15px;
}
</style>
